# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [68]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp
from scipy.stats import chi2_contingency
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [69]:

# Your code here:

data = pd.read_csv('Employees_advanced.csv')


display (data.head())

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

there s invalid values

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [70]:
# Count the missing values in each column
missing_data_counts = data.isnull().sum()

# Display the result

display (missing_data_counts)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [71]:
# Your code here:

# Count the number of hourly and salaried employees
employee_counts = data['Salary or Hourly'].value_counts()

# Display the counts
display (employee_counts)

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [72]:
# Group the data by 'Department' and calculate the size (count) of employees in each department
department_counts = data.groupby('Department').size()

# Display the departments and the count of employees in each department
print(department_counts)

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [73]:
# Assuming the 'Hourly Rate' column contains the hourly wage data
hourly_wages = data['Hourly Rate']

# The hypothesized mean wage ($30/hr in this case)
hypothesized_mean = 30

# Perform the t-test
t_statistic, p_value = ttest_1samp(hourly_wages, hypothesized_mean)

# Define the significance level (alpha) for the confidence interval (95% in this case)
alpha = 0.05

# Check if the p-value is less than the significance level
if p_value < alpha:
    print("The hourly wage of all hourly workers is significantly different from $30/hr.")
else:
    print("The hourly wage of all hourly workers is not significantly different from $30/hr.")

The hourly wage of all hourly workers is not significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [74]:
# Assuming the 'Annual Salary' column contains the salary data for all employees
all_salaries = data['Annual Salary']

# Filter the data to include only employees in the police department
police_salaries = all_salaries[data['Department'] == 'POLICE']

# The hypothesized mean salary ($86000/year in this case)
hypothesized_mean = 86000

# Perform the one-sample one-tailed t-test
t_statistic, p_value = ttest_1samp(police_salaries, hypothesized_mean, alternative='greater')

# Divide the p-value by 2 for one-tailed test
p_value_one_tailed = p_value / 2

# Define the significance level (alpha) for the confidence interval (95% in this case)
alpha = 0.05

# Check if the one-tailed p-value is less than the significance level
if p_value_one_tailed < alpha and t_statistic > 0:
    print("The salaries in the police force are significantly higher than last year's mean of $86000/year.")
else:
    print("The salaries in the police force are not significantly higher than last year's mean of $86000/year.")

The salaries in the police force are not significantly higher than last year's mean of $86000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [75]:


# Filter the data to include only hourly workers
hourly_workers = data[data['Salary or Hourly'] == 'Hourly']

# Group the data by 'Department' and count the number of hourly workers in each department
hourly_workers_count = hourly_workers.groupby('Department').size()

# Find the department with the most hourly workers
department_with_most_hourly_workers = hourly_workers_count.idxmax()

# Print the result
print(f"The department with the most hourly workers is: {department_with_most_hourly_workers}")

The department with the most hourly workers is: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [76]:

# Filter the data to include only hourly workers
hourly_workers = data[data['Salary or Hourly'] == 'Hourly']

# Filter the data to include only the department with the most hourly workers
most_hourly_department = hourly_workers['Department'].value_counts().idxmax()
hourly_workers_most_department = hourly_workers[hourly_workers['Department'] == most_hourly_department]

# Assuming the 'Hourly Rate' column contains the hourly wage data for the department with the most hourly workers
hourly_wages_most_department = hourly_workers_most_department['Hourly Rate']

# The hypothesized hourly wage ($35/hour in this case)
hypothesized_mean = 35

# Perform the one-sample one-tailed t-test
t_statistic, p_value = ttest_1samp(hourly_wages_most_department, hypothesized_mean, alternative='less')

# Define the significance level (alpha) for the confidence interval (95% in this case)
alpha = 0.05

# Check if the one-tailed p-value is less than the significance level
if p_value < alpha and t_statistic < 0:
    print("The hourly wage of workers from the department with the most hourly workers is significantly less than $35/hour.")
else:
    print("The hourly wage of workers from the department with the most hourly workers is not significantly less than $35/hour.")

The hourly wage of workers from the department with the most hourly workers is significantly less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [77]:


# As the 'Hourly Rate' column contains the hourly wage data for all hourly workers
hourly_wages = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# Calculate the sample size and degrees of freedom
sample_size = len(hourly_wages)
degrees_of_freedom = sample_size - 1

# Calculate the sample mean and sample standard deviation
sample_mean = hourly_wages.mean()
sample_std = hourly_wages.std()

# Calculate the standard error
standard_error = sample_std / (sample_size ** 0.5)

# Define the confidence level (95% in this case)
confidence_level = 0.95

# Calculate the confidence interval using the t.interval function
confidence_interval = scipy.stats.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

# Print the confidence interval
print(f"95% Confidence Interval for the mean hourly wage of all hourly workers: {confidence_interval}")

95% Confidence Interval for the mean hourly wage of all hourly workers: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [78]:


# Filter the data to include only salaried employees in the police department
police_salaried = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]['Annual Salary']

# Calculate the sample size and degrees of freedom
sample_size = len(police_salaried)
degrees_of_freedom = sample_size - 1

# Calculate the sample mean and sample standard deviation
sample_mean = police_salaried.mean()
sample_std = police_salaried.std()

# Calculate the standard error
standard_error = sample_std / (sample_size ** 0.5)

# Define the confidence level (95% in this case)
confidence_level = 0.95

# Calculate the confidence interval using the t.interval function
confidence_interval = scipy.stats.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

# Print the confidence interval
print(f"95% Confidence Interval for the mean annual salary of all salaried employees in the police department: {confidence_interval}")

95% Confidence Interval for the mean annual salary of all salaried employees in the police department: (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [79]:

# As the 'Salary or Hourly' column contains information about whether an employee is salaried or hourly
# We calculate the proportion of hourly workers in the data
hourly_proportion = (data['Salary or Hourly'] == 'Hourly').mean()

# Define the null hypothesis proportion (25% in this case)
null_proportion = 0.25

# Perform the proportions z-test
z_statistic, p_value = proportions_ztest(count=hourly_proportion * len(data), nobs=len(data), value=null_proportion)

# Define the significance level (alpha) for the confidence interval (95% in this case)
alpha = 0.05

# Check if the p-value is less than the significance level
if p_value < alpha:
    print("The number of hourly workers in the City of Chicago is significantly different from 25%.")
else:
    print("The number of hourly workers in the City of Chicago is not significantly different from 25%.")

The number of hourly workers in the City of Chicago is significantly different from 25%.